<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Time Scheduler</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Template Main CSS File -->
    <link href="../css/index.css" rel="stylesheet">
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
        <h1>Timetable</h1>
    </a>
</header><!-- End Header -->

<div class="container">
    <table>
        <tr>
            <td><br>
                <b>Day/Period<br></b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>Monday<br></b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>Tuesday<br></b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>Wednesday<br></b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>Thursday<br></b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>Friday<br></b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50"
                width="100">
                <b>8:00 - 10:00<br></b>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Monday['8'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Tuesday['8'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Wednesday['8']%><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Thursday['8'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Friday['8'] %><br>
            </td>
        </tr>
        <tr>
            <td align="center" height="50"
                width="100">
                <b>10:00 - 12:00<br></b>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Monday['10'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Tuesday['10'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Wednesday['10']%><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Thursday['10'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Friday['10'] %><br>
            </td>
        </tr>
        <tr>
            <td align="center" height="50"
                width="100">
                <b>12:00 - 14:00<br></b>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Monday['12'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Tuesday['12'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Wednesday['12']%><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Thursday['12'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Friday['12'] %><br>
            </td>
        </tr>
        <tr>
            <td align="center" height="50"
                width="100">
                <b>14:00 - 16:00<br></b>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Monday['14'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Tuesday['14'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Wednesday['14']%><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Thursday['14'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Friday['14'] %><br>
            </td>
        </tr>
        <tr>
            <td align="center" height="50"
                width="100">
                <b>16:00 - 18:00<br></b>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Monday['16'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Tuesday['16'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Wednesday['16']%><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Thursday['16'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Friday['16'] %><br>
            </td>
        </tr>
        <tr>
            <td align="center" height="50"
                width="100">
                <b>18:00 - 20:00<br></b>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Monday['18'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Tuesday['18'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Wednesday['18']%><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Thursday['18'] %><br>
            </td>
            <td align="center" height="50"
                width="100">
                <%= Friday['18'] %><br>
            </td>
        </tr>
    </table>
    <input type="submit" value="Create a new class" onclick="location.href='/'">
</div>
</div>

</body>

</html>